= form_tag '/' do
  = hidden_field_tag :client_id, @auth.client.id

.clear

#user_dashboard
  = render(:partial => 'clients/dashboard')

#gallery
  = render(:partial => 'media/gallery')

:javascript
  $.backstretch("https://dl.dropbox.com/u/5433755/snippy/im1.jpg");

= js extend_gritter(:position => :top_right, :fade_in_speed => "medium", :fade_out_speed => "slow")
= gflash
