= js extend_gritter(:fade_in_speed => "medium", :fade_out_speed => "slow")
= gflash

.row
  .large-12.columns.spacer

/ .row
/   .large-12.box.columns.large-centered

#call_to_action
  .row
    .large-4.columns.screen
      %h1.display_type.tight-leading.amber Get the style you want,<br /> wherever you are!

      .test
        %h1.blue.subhed Upload Vine&#0153; videos and photos
        %h1.blue.subhed Browse latest looks
        %h1.blue.subhed Connect with the greatest stylists
        .chardin_call{"data-position" => "top", "data-intro" => "To learn more about the differences between our Stylist and Client Accounts, click the button below..."}= link_to('LEARN MORE', '#', :'data-learn-more' => true, :id => 'learn-more', :class => 'button radius success small')
        / = image_tag('camera_icon.png')
    .large-4.columns
      .row
        .large-12.columns{"data-position" => "right", "data-intro" => "Input both you're e-mail and password in order to login." + '<br><br>' + "You'll have the option to change these both on your profile page"}
          #login_form.hide.screen
            = form_tag '/login' do
              = text_field_tag :email, nil, :autofocus => true, :id => 'email_field', :placeholder => 'Email'
              = password_field_tag :password, nil, :id => 'password_field', :placeholder => 'Password'
              .login_btn
                = submit_tag 'Login', :id => 'login_btn', :class => 'button small radius success'
                = link_to('Cancel', '#', :'data-clear-form' => true, :id => 'cancel_btn', :class => 'button small radius alert')
    .large-4.columns
.row
  .large-12.columns.tiny_spacer

#onboard.opacity
  .row
    .large-12.columns.banner
      .ul.disc.section-container.tabs{"data-section" => "tabs"}
        %section#client_tab
          %p.title{"data-section-title" => "client"}
            %a{"data-orbit-link" => "headline-1", :href => "#"} Client
        %section#stylist_tab
          %p.title{"data-section-title" => "stylist"}
            %a{"data-orbit-link" => "headline-2", :href => "#"} Stylist
      %ul{"data-orbit" => "", "bullets" => "false"}
        %li#client_slide{"data-orbit-slide" => "headline-1"}
          .slide_content
            .row
              .large-6.columns.height200
                %h2.white.bold.center Browse the Styles
                = image_tag('client_1.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
              .large-6.columns.height200
                %h2.white.bold.center Select your favorites
                = image_tag('client_2.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
            .row
              .large-6.columns.height200
                %h2.white.bold.center Share styles with friends
                = image_tag('client_3.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
              .large-6.columns.height200
                %h2.white.bold.center Connect with a Stylist!
                = image_tag('client_4.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
            .row
              .large-3.large-centered.columns
                %a.reg_btns.banner{"data-reveal-id" => "client", :href => "#", :class => 'button secondary radius'} SIGN ME UP!
        %li#stylist_slide{"data-orbit-slide" => "headline-2"}
          .slide_content
            .row
              .large-6.columns.height200
                %h2.white.bold.center Snap a photo or video
                = image_tag('stylist_1.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
              .large-6.columns.height200
                %h2.white.bold.center Show off your work
                = image_tag('stylist_2.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
            .row
              .large-6.columns.height200
                %h2.white.bold.center Connect with new clients
                = image_tag('stylist_2.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
              .large-6.columns.height200
                %h2.white.bold.center Build your brand
                = image_tag('client_4.png')
                .tiny_spacer
                %p.white.ff.center Some more interesting things here
            .row
              .large-3.large-centered.columns
                %a.reg_btns.banner{"data-reveal-id" => "stylist", :href => "#", :class => 'button secondary radius'} SIGN ME UP!

- if flash[:message].present?
  #registration_post_voting.reveal-modal
    .row
      .large.columns
        %h2.register_msg= flash[:message] if flash[:message].present?
        %h4 If you would like to have your friends vote on your hairstyle, click to register!
        %a.reg_btns{"data-reveal-id" => "poll_client", :href => "#", :class => 'button success radius'} Register
        = link_to('No Thanks', root_path, :class => 'button alert radius')
        %a.close-reveal-modal X

  #poll_client.reveal-modal
    = render(:partial => 'clients/form')
    %a.close-reveal-modal X

- if flash[:message].present? && @auth.nil?
  :javascript
      console.log('This is hit');
      $('#registration_post_voting').foundation('reveal', 'open');

/ .row
/   .large-4.columns.screen
/     .small_photo{:style => "background-image: url('#{@stylist.user.image}') repeat-x;"}
/     / = image_tag(@stylist.user.image, :class => "small_photo")
/     %h3.white.subhed= 'Meet ' + @stylist.user.name + ' a stylist from ' + @stylist.salon.name
/   .large-8.columns

//THIS IS THE BG IMAGE SCRIPT, DO NOT DELETE

:javascript
  $.backstretch("https://dl.dropbox.com/u/5433755/snippy/bg2.jpg");