%h1 Wookmark test page


#main{:role => 'main'}
  %ol#filters
    %li{"data-filter" => "short"} Short
    %li{"data-filter" => "long"} Long
    %li{"data-filter" => "curly"} Curly


  %ul#tiles
    %li.short= video_tag('sandip1.mov', :size => '200x283')
    %li.long= video_tag('sandip2.mov', :size => '200x283')
    %li.long= video_tag('sandip3.mov', :size => '200x283')
    %li.curly= video_tag('sandip4.mov', :size => '200x283')
    %li.curly= video_tag('sandip5.mov', :size => '200x283')
    %li.curly= video_tag('sandip6.mov', :size => '200x283')