%h1 test page

#container
  %ul
    / %li.mustache= image_tag('zep1.jpg')
    / %li.mustache= image_tag('zep2.jpg')
    / %li.mustache= image_tag('zep3.jpg')
    / %li.mustache= image_tag('zep4.jpg')
    / %li.mustache= image_tag('zep5.jpg')

    %li= video_tag('sandip1.mov')
    %li= video_tag('sandip2.mov')
    %li= video_tag('sandip3.mov')
    %li= video_tag('sandip4.mov')
    %li= video_tag('sandip5.mov')
    %li= video_tag('sandip6.mov')