.row
  .large-4.columns
    .poll_image{:'data-rank' => 'rank_1', :'data-medium-id' => "#{@poll.rank_1.id}", :'data-client-id' => "#{@poll.client.id}"}
      - if @poll.rank_1.photo.present?
        = image_tag(@poll.rank_1.photo.thumb, :size => '200x320', :class => 'video')
      - elsif @poll.rank_1.video.present?
        = video_tag(@poll.rank_1.video, :width => '190', :class => 'video')
    .poll_favorite
      .favorite_off
      = "#{@poll.vote_1} people liked this"
    .vote_button.hide
      = form_tag update_poll_poll_path(@poll.id), :remote => true do
        = hidden_field_tag :rank, 'rank_1'
        = submit_tag 'VOTE', :class => 'button'

  .large-4.columns
    .poll_image{:'data-rank' => 'rank_2', :'data-medium-id' => "#{@poll.rank_2.id}", :'data-client-id' => "#{@poll.client.id}"}
      - if @poll.rank_2.photo.present?
        = image_tag(@poll.rank_2.photo.thumb, :size => '200x320', :class => 'video')
      - elsif @poll.rank_2.video.present?
        = video_tag(@poll.rank_2.video, :width => '190', :class => 'video')
    .poll_favorite
      .favorite_off
      = "#{@poll.vote_2} people liked this"
    .vote_button.hide
      = form_tag update_poll_poll_path(@poll.id), :remote => true do
        = hidden_field_tag :rank, 'rank_2'
        = submit_tag 'VOTE', :class => 'button'

  .large-4.columns
    .poll_image{:'data-rank' => 'rank_3', :'data-medium-id' => "#{@poll.rank_3.id}", :'data-client-id' => "#{@poll.client.id}"}
      - if @poll.rank_3.photo.present?
        = image_tag(@poll.rank_3.photo.thumb, :size => '200x320', :class => 'video')
      - elsif @poll.rank_3.video.present?
        = video_tag(@poll.rank_3.video, :width => '190', :class => 'video')
    .poll_favorite
      .favorite_off
      = "#{@poll.vote_3} people liked this"
    .vote_button.hide
      = form_tag update_poll_poll_path(@poll.id), :remote => true do
        = hidden_field_tag :rank, 'rank_3'
        = submit_tag 'VOTE', :class => 'button'


