- if @auth.client.present?
  - @polls.each do |poll|
    .row
      .large-8.columms
        %h1
          = "THIS IS THE POLL TAKEN ON #{poll.date}"
        - if poll.is_active?
          %h2 THIS POLL IS ACTIVE
        - else
          %h2 THIS POLL IS DONE
      .large-4.columns
        - if poll.is_active?
          = form_tag end_poll_poll_path(poll.id), :remote => true do
            = submit_tag 'END POLL'

    .row.poll_info{:'data-poll-id' => "#{poll.id}", :'data-poll-is-active' => "#{poll.is_active?}"}
      .large-4.columns
        .poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_1', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_1.id}", :'data-client-id' => "#{poll.client.id}"}
          - if poll.rank_1.photo.present?
            = image_tag(poll.rank_1.photo.thumb, :size => '200x320', :class => 'video')
          - elsif poll.rank_1.video.present?
            = video_tag(poll.rank_1.video, :width => '190', :class => 'video')
          = "#{poll.vote_1} people liked this"
      .large-4.columns
        .poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_2', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_2.id}", :'data-client-id' => "#{poll.client.id}"}
          - if poll.rank_2.photo.present?
            = image_tag(poll.rank_2.photo.thumb, :size => '200x320', :class => 'video')
          - elsif poll.rank_2.video.present?
            = video_tag(poll.rank_2.video, :width => '190', :class => 'video')
          = "#{poll.vote_2} people liked this"
      .large-4.columns
        .poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_3', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_3.id}", :'data-client-id' => "#{poll.client.id}"}
          - if poll.rank_3.photo.present?
            = image_tag(poll.rank_3.photo.thumb, :size => '200x320', :class => 'video')
          - elsif poll.rank_3.video.present?
            = video_tag(poll.rank_3.video, :width => '190', :class => 'video')
          = "#{poll.vote_3} people liked this"
      %script
        = "var poll_id = #{poll.id}"
        = "var winner_#{poll.id} = #{poll.winner};"
        = "Snippy.highlight_winners(poll_id, winner_#{poll.id});"
