.poll_bg
  .row
    .large-12.columns.spacer
  - if @auth.client.present?
    - @polls.each do |poll|
      .row
        .large-10.large-centered.columns.poll_tiles
          .row
            .large-12.columms
              .tiny_spacer
              - if poll.is_active?
                #tweet_button
                  %a{:href=>"https://twitter.com/intent/tweet?button_hashtag=BobsAndBangs&text=Please%20vote%20on%20my%2C%20hairstyles%20", :class=>"twitter-hashtag-button", :'data-size'=>"large", :'data-url'=>"http://www.bobsandbangs.com/polls/#{poll.id}"}
                  %script
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                %h2.center= "This poll was started  #{distance_of_time_in_words_to_now(poll.created_at, include_seconds = false)} ago."
                .tiny_spacer
              - else
                %h3.center= "The poll from  #{distance_of_time_in_words_to_now(poll.created_at, include_seconds = false)} ago is now closed."
                .tiny_spacer

          .row.poll_info{:'data-poll-id' => "#{poll.id}", :'data-poll-is-active' => "#{poll.is_active?}"}
            .large-4.columns
              - if poll.rank_1.present?
                .image_box.poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_1', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_1.id}", :'data-client-id' => "#{poll.client.id}"}
                  - if poll.rank_1.photo.present?
                    .poll_image= image_tag(poll.rank_1.photo.thumb, :size => '100%', :class => 'video')
                  - elsif poll.rank_1.video.present?
                    .poll_image= video_tag(poll.rank_1.video, :width => '190', :class => 'video')
                  %h4= "#{pluralize(poll.vote_1, 'person')} liked this"
            .large-4.columns
              - if poll.rank_2.present?
                .image_box.poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_2', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_2.id}", :'data-client-id' => "#{poll.client.id}"}
                  - if poll.rank_2.photo.present?
                    .poll_image= image_tag(poll.rank_2.photo.thumb, :size => '100%', :class => 'video')
                  - elsif poll.rank_2.video.present?
                    .poll_image= video_tag(poll.rank_2.video, :width => '190', :class => 'video')
                  %h4= "#{pluralize(poll.vote_2, 'person')} liked this"
            .large-4.columns
              - if poll.rank_3.present?
                .image_box.poll_image{:'data-poll-id' => "#{poll.id}", :'data-rank' => 'rank_3', :'data-poll-medium-id' => "#{poll.id}_#{poll.rank_3.id}", :'data-client-id' => "#{poll.client.id}"}
                  - if poll.rank_3.photo.present?
                    .poll_image= image_tag(poll.rank_3.photo.thumb, :size => '100%', :class => 'video')
                  - elsif poll.rank_3.video.present?
                    .poll_image= video_tag(poll.rank_3.video, :width => '190', :class => 'video')
                  %h4= "#{pluralize(poll.vote_3, 'person')} liked this"
          .row
            .large-12.columns.tiny_spacer
          .row
            .large-12.columns.tiny_spacer

          .row
            .large-12.columns
              - if poll.is_active?
                = form_tag end_poll_poll_path(poll.id), :remote => true do
                  .center= submit_tag 'END POLL', :class => 'button round'
              - if poll.is_active? == false
                - if poll.winner.length == 1
                  %h3.center= "Your friends have selected a style by "
                  %h2.bold.center=link_to("#{poll.winner_object[0].stylist.user.name}", stylist_path( "#{poll.winner_object[0].stylist.id}"))
                  =image_tag("#{poll.winner_object[0].stylist.user.image.thumb}")
                  %h3.center= "Get in touch and make it happen!"

      .row
        .large-12.columns.spacer




        %script
          = "var poll_id = #{poll.id}"
          = "var winner_#{poll.id} = #{poll.winner};"
          = "Snippy.highlight_winners(poll_id, winner_#{poll.id});"


