.row
  %fieldset.forms
    %legend Stylist Registion
    .five.columns.stylist_form
      = form_for @user do |f|
        = f.text_field :name, :placeholder => 'Name'
        = f.text_field :email, :placeholder => 'Email'
        = f.text_field :image, :placeholder => 'Image'
        = f.password_field :password, :placeholder => 'Password'
        = f.password_field :password_confirmation, :placeholder => 'Password Confirmation'
        = f.submit 'Create Account', :class => 'button radius success'
    .seven.columns

