.row
  -if @stylist.present?
    %div= image_tag(@auth.image)
  .row
    %a{"data-reveal-id" => "media_form", :href => "#", :id => 'links', :class => 'button radius'}= 'Add Media'
    %a{"data-reveal-id" => "salon_form", :href => "#", :id => 'links', :class => 'button radius'}= 'Add Salon'
  -if @client.present?
    %div= image_tag(@stylist.image)
.row
  #stylist_galery
    = render :partial => 'gallery'

#modals
  #media_form.reveal-modal
    = render(:partial => 'media_form')
    %a.close-reveal-modal X

  #salon_form.reveal-modal
    = render(:partial => 'salon_form')
    %a.close-reveal-modal X
