%ul
-if @stylist.present?
  %li.name
    %div= image_tag(@auth.image)
  %li.name
    %a{"data-reveal-id" => "media_form", :href => "#", :id => 'links'}= 'Add Media'
  %li.name
    %a{"data-reveal-id" => "salon_form", :href => "#", :id => 'links'}= 'Add Salon'
-if @client.present?
  %li
    / %div= image_tag(@auth.image)

#modals
  #media_form.reveal-modal
    = render(:partial => 'media_form')
    %a.close-reveal-modal X

#modals
  #salon_form.reveal-modal
    = render(:partial => 'salon_form')
    %a.close-reveal-modal X
