#modals
  #media_form.reveal-modal
    = render(:partial => 'media_form')
    %a.close-reveal-modal X

  #salon_form.reveal-modal
    = render(:partial => 'salon_form')
    %a.close-reveal-modal X

.row
  #confirm_upload_msg.hide
    .alert-box.success.round
      Uploading successful

.row
  -if @auth.is_stylist? && (@auth.stylist == @stylist)
    .stylist_photo= image_tag(@auth.image)
    .bio_container
    .row
    %a{"data-reveal-id" => "media_form", :href => "#", :id => 'links', :class => 'button radius'}= 'Add Media'
    %a{"data-reveal-id" => "salon_form", :href => "#", :id => 'links', :class => 'button radius'}= 'Add Salon'
  -else
    .stylist_photo= image_tag(@stylist.user.image)
    .bio_container

-if @auth.is_client?
  .row
    #map_canvas
    %script
      display_map(40.7316, -73.9901, 12);
      = "add_client_marker(#{@auth.client.latitude}, #{@auth.client.longitude}, '#{@auth.name}');"
      = "add_salon_marker(#{@stylist.salon.latitude}, #{@stylist.salon.longitude}, '#{@stylist.salon.name}');"
      = "add_path(#{@auth.client.latitude},#{@auth.client.longitude}, #{@stylist.salon.latitude},#{@stylist.salon.longitude});"
.row
  #stylist_galery
    = render :partial => 'gallery'

