= form_for @medium, :url => '/m', :html => {:multipart => true, :'data-ajax' => false} do |f|
  = f.label :title
  = f.text_field :title
  = f.label :video, 'Video'
  = f.file_field :video
  = f.label :photo, 'Photo'
  = f.file_field :photo
  = hidden_field_tag :stylist_id, @stylist.id
  = f.submit 'Add Photo/Video'