<div id="main" role="main">

  <div class="row relative">
    <div class="large-8.columns box">
      <ol id="filters" class="filter_type">
        <% @tags.each do |tag| %>
        <li data-filter='<%= tag %>'><%= tag %></li>
        <% end %>
      </ol>
    </div>
  </div> <!-- end filter row -->


  <div class="row">
    <div class="large-12.columns">
      <ul id="tiles">
        <% @media.each do |media| %>
          <li class="<%=media.tags.map(&:tag).join('.') %>">
            <div class="tile draggable" data-medium-id='<%= media.id  %>'>
              <div class="favorites">
                <% if media.id.in?(@auth.client.favorites.map(&:medium_id)) %>
                 <div class="favorite_on"></div>
                 <% else %>
                 <div class="favorite_off"></div>
                 <% end %>
              </div>
              <% if media.photo? %>
                <%= image_tag(media.photo.thumb, :size => '200x320', :class => 'video') %>
              <% elsif media.video? %>
                <%= video_tag(media.video, :size => '200x283', :class => 'video') %>
              <% end %>
          <div class="info">
            <h5>cut by <span class="stylyst">Vincenzo</span></h5>
          </div>
          </div>
        <% end %>
      </ul>

    </div>
  </div>


</div> <!-- end main -->


