%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{"data-dropdown" => "drop", :href => "#"}= 'LOGIN'
        #drop.f-dropdown.content
          %li
            = form_tag '/login' do
              = text_field_tag :email, nil, :autofocus => true, :placeholder => 'Email'
              = password_field_tag :password, nil, :id => 'password_field', :placeholder => 'Password'
              .login_btn
                = submit_tag 'Login', :id => 'login_btn', :class => 'button radius success'
